<ul id="dropdown2" class="dropdown-content">
  <li><a href="#!">Ver mis cursos</a></li>
  <li><a href="#!">Editar perfil</a></li>
  <li class="divider"></li>
  <li><%= link_to 'Cerrar Sesión', logout_path, method: :delete %></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <div class="container">
      <a href="" class="brand-logo">University</a>
    </div>
    <a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <% if logged_in? %>
        <li><%= link_to 'Cursos', root_path %></li>
        <li><%= link_to 'Estudiantes', students_path %></li>
        <li><a class="dropdown-trigger" data-target="dropdown1"><%= current_user.name %><i class="material-icons right">arrow_drop_down</i></a></li>
        <!-- Menu desplegable -->
        <ul id="dropdown1" class="dropdown-content">
          <li><%= link_to 'Editar perfil', student_path(current_user.id) %></li>
          <li class="divider"></li>
          <li><%= link_to 'Cerrar Sesión', logout_path, method: :delete %></li>
        </ul>
        <!-- Menu desplegable -->
      <% else %>
        <li><%= link_to 'Iniciar Sesión', login_path, class: "btn blue" %></li>
      <% end %>
    </ul>
    <ul class="sidenav" id="mobile-demo">
      <% if logged_in? %>
        <li><%= link_to 'Cursos', root_path %></li>
        <li><%= link_to 'Estudiantes', students_path %></li>
        <li><a class="dropdown-trigger" data-target="dropdown2"><%= current_user.email %><i class="material-icons">arrow_drop_down</i></a></li>
        <!-- Menu desplegable -->
        <ul id="dropdown1" class="dropdown-content">
          <li><%= link_to 'Editar perfil', student_path(current_user.id) %></li>
          <li class="divider"></li>
          <li><%= link_to 'Cerrar Sesión', logout_path, method: :delete %></li>
        </ul>
        <!-- Menu desplegable -->
      <% else %>
        <li><%= link_to 'Iniciar Sesión', login_path, class: "btn blue" %></li>
      <% end %>
    </ul>
  </div>
</nav>
<% flash.each do |key,message| %>
  <div class="container">
    <div class="row center sign-up-form">
      <div class="col s12 m12 l12">
        <div class="card-panel green lighten-2" id="fade-out-target">
          <span class="white-text">
            <%= message %>
          </span>
        </div>
      </div>
    </div>
  </div>
<% end %>
